html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat';
  margin-top: 40px;
}

.navbar {
  padding: 5 6rem;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  text-align: center;
}

h2 {
  color: #fff;
}

h5, h6 {
  font-family: "Montserrat-Bold";
}

/* Welcome Page */
#welcome {
  min-height: 100vh;
  color: white;
  background-image: url("images/welcome.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

#welcome h1 {
  font-family: 'Montserrat-Bold', sans-serif;
}

hr {
  border-top: 2px solid red;
  width: 30%;
}

.section-line {
  border-top: 1px solid red;
  width: 20%;
}

.welcome {
  padding: 16rem 5rem;
  text-align: center;
}

.contaniner-fluid {
  padding: 6%;
}

/* about section */
.about {
  text-align: center;
}

.head-img {
  width: 200px;
  border-radius: 100%;
  display: block;
  padding-bottom: 2rem;
  margin: auto;
}

.about-button {
  margin: 50px auto;
  width: 150px;
  display: block;
}

.about-button:hover {
  letter-spacing: 6px;
  /* margin-bottom: 20px; */
  width: 200px;
  transition: 0.5s;
}

.about-text {
  text-align: justify;
  text-justify:newspaper;
}


/* education section */
ul.timeline {
  list-style-type: none;
  position: relative;
  text-align: left;
}
ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: ' ';
  background: #3490de;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

.timeline-list {
  padding-bottom: 100px;
}

ul {
  line-height: 190%;
  margin: 20px;
}

#education {
  text-align: center;
  padding: auto;
  background-color: #374045;
  color: white;
}

.edu-logo {
  max-width: 300px;
  height: auto;
  width: auto;
  margin-bottom: 3rem;
}

.edu-logo:hover {
  max-width: 350px;
  transition: 0.5s;
}

.education-row {
  padding-top: 60px;
}

.card {
  background-color: #dddddd;
  border-width: 0;
}

.section-row {
  padding-top: 60px;
  padding-bottom: 30px;

}

.description-text-section {
  text-align: center;
}

#certification {
  background-color: #cecece;
  color: #000000;
  text-align: center;
}

.cert-section {
  margin-bottom: 50px;
}

.cert_img {
  height: 300px;
}


#certification .card-body {
  color: #000000;
  font-family: 'Montserrat-Bold';
}

.card {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  border-radius: 2%;
  max-width: 350px;
}

.card-img-top {
  background-color: #fff;
}

.card-text {
  text-align: justify;
}

.skills-section {
  color: #000000;
  text-align: center;
  
}

.skills-icon {
  font-size: 8rem;
  padding: 20px;
}